extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let shoesid = toShow._id
    - let shoes_brand = toShow.shoes_brand
    - let shoes_quantity = toShow.shoes_quantity
    - let shoes_cost = toShow.shoes_cost
    - let actionid = "/resource/shoess/" + shoesid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='shoesAttr mr-3') shoes ID is:
          div #{shoesid}

      div.row
        div(class='shoesAttr mr-3') shoes Type is:
          div #{shoes_brand}

      div.row
        div(class='shoesAttr mr-3') shoes_cost is:
          div #{shoes_cost}

      div.row
        div(class='shoesAttr mr-3') shoes_quantity is:
          div #{shoes_quantity}

      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the shoes collection
        window.location.href='/shoes'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/shoes'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
