extends layout

block content
  h1= title
  - let results = [{s_name:"s1",s_age:30,s_length:20},{s_name:"k2",s_age:20,k_length:10},{s_name:"k3",s_age:20,k_length:30}]
   div.container-fluid
    div.row
     each kangaroo,index in results
      div.col-sm-2(onClick=`buy(${index})`) #{snake.s_name}
      div.col-sm-2(onClick=`buy(${index})`) #{snake.s_age}
      div.col-sm-2(onClick=`buy(${index})`) #{snake.s_length}
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }